/* @import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import '~ng2-toasty/style-bootstrap.css';
@import '~select2/dist/css/select2.min.css'; */

/* h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #255876;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-weight: bold;
} */

.contentContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

/* .contentContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

#walkoffNav {
  background-color: #3c8dbc;
}

/* #walkoffNav a {
  color: #f6f6f6;
} */

#walkoffNav a .navLink {
  margin-left: 5px;
}

/* #walkoffNav .dropdown-item {
  color: #333333;
} */

#walkoffNav {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

#walkoffNav .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

@media (max-width: 767px) {
  #walkoffNav .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}

#walkoffNav .navbar-nav .dropdown .dropdown-menu {
  background-color: #3c8dbc;
}

#walkoffNav .navbar-nav .dropdown .dropdown-menu a {
  color: rgba(255, 255, 255, 0.5);

  &:active {
    color: #3c8dbc;
    background-color: #f8f9fa;
  }
}

#walkoffNav .navbar-nav .dropdown .dropdown-menu a.active {
  color: #fff;
  background-color: unset;

  &:hover {
    color: #3c8dbc;
    background-color: #f8f9fa;
  }
}

#walkoffNav .navbar-nav .dropdown .dropdown-menu a:hover {
  color: #3c8dbc;
}

#walkoffNav .navbar-nav .dropdown .dropdown-menu a span {
  margin-left: 5px;
}

#walkoffNav .navbar-nav>.open>a {
  color: #3c8dbc;
}

#walkoffNav .navbar-nav .newMessages {
  color: orange;
  font-weight: bold;
}

#walkoffNav .navbar-nav .required {
  color: crimson;
}

#walkoffNav .navbar-nav .messages-menu table,
#walkoffNav .navbar-nav .messages-menu table a {
  width: 320px;
  color: white;
  margin: 5px;
}

#walkoffNav .navbar-nav .messages-menu table .oldMessage,
#walkoffNav .navbar-nav .messages-menu table .oldMessage a {
  color: #DDD;
  font-style: italic;
}

#walkoffNav .navbar-nav .messages-menu .noMessages {
  color: #DDD;
  font-style: italic;
  margin-left: 10px;
}

#walkoffNav .navbar-nav .messages-menu table tr {
  border-bottom: 1px solid #AAA;
}

#walkoffNav .navbar-nav .messages-menu table tr:last-child {
  border-bottom: none;
}

#userModalBody .required {
	color: crimson;
	margin-left: 5px;
}

#userModalBody input[type=checkbox].form-control,
#userModalBody input[type=radio].form-control {
	width: 34px;
	margin: 0 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 51px;
  background-color: #e7e7e7;
  padding: 15px;
}
