<div class="modal-header">
	<h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" [(ngModel)]="workingDevice.name" name="name" required tabindex="1">
				</div>
				<div class="form-group">
					<label for="name">Associated App</label>
					<select class="form-control" [value]="workingDevice.app" (change)="handleAppSelection($event, $event.target.value)" name="app"
					 tabindex="3">
						<option value=""></option>
						<option *ngFor="let i of appNames" [value]="i" [label]="i"></option>
					</select>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label for="name">Description</label>
					<input type="text" class="form-control" [(ngModel)]="workingDevice.ip" name="ip" required tabindex="2">
				</div>
				<div class="form-group">
					<label for="name">Device Type</label>
					<select class="form-control" [value]="workingDevice.type" (change)="handleDeviceTypeSelection(event, $event.target.checked)"
					 name="type" tabindex="4">
						<option value=""></option>
						<option *ngFor="let i of appNames" [value]="i" [label]="i"></option>
					</select>
				</div>
				<!-- <div class="form-group">
					<label for="name">Password</label>
					<input type="password" class="form-control" [(ngModel)]="workingDevice.password" name="newPassword" required tabindex="6">
				</div> -->
			</div>
		</div>
		<div *ngFor="let i of selectedDeviceType.fields" class="form-group">
			<label for="name">{{i.name}}</label>

			<!-- Normal string text entries -->
			<input *ngIf="i.type === 'string' && !i.enum && !i.encrypted" class="form-control" [(ngModel)]="workingDevice.fields[i.name]" type="text"
			[attr.minlength]="i.minLength > 0 ? i.minLength : null"
			[attr.maxlength]="i.maxLength > 0 ? i.maxLength : null"
			[attr.pattern]="i.pattern ? i.pattern : null"
			[attr.required]="i.required"
			[attr.placeholder]="i.placeholder"
			>

			<!-- Enum types, make a select box -->
			<select *ngIf="i.enum" class="form-control" name="{{i.name}}" [(ngModel)]="workingDevice.fields[i.name]">
				<option *ngIf="i.required" value=""></option>
				<option *ngFor="let i of i.enum" [value]="i" [label]="i"></option>
			</select>

			<!-- For numbers enter number info -->
			<input *ngIf="i.type === 'number' || i.type === 'integer'" class="form-control" [(ngModel)]="workingDevice.fields[i.name]" type="number"
			[attr.min]="getMin(i)"
			[attr.max]="getMax(i)"
			[attr.step]="i.multipleOf > 0 ? i.multipleOf : null"
			[attr.multipleOf]="i.multipleOf > 0 ? i.multipleOf : null"
			[attr.required]="i.required"
			[attr.placeholder]="i.placeholder"
			>

			<!-- Checkbox for boolean values -->
			<input *ngIf="i.type === 'boolean'" type="checkbox" class="form-control" name="{{i.name}}" [(ngModel)]="workingDevice.fields[i.name]">
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Undo Changes and Close</button>
		<button type="button" class="btn btn-primary" (click)="submit()">{{submitText}}</button>
	</div>