#main.devicesMain {
	padding: 10px 15px;
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #255876;
}

h3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

#deviceForm input[type=checkbox].form-control {
	width: 34px;
	margin: 0 5px;
}

#deviceForm .confirmLabel {
	margin-top: 15px;
}