#main.devicesMain {
	padding: 10px 15px;
}

.devicesMain ngx-datatable datatable-body datatable-body-row datatable-body-cell .datatable-body-cell-label {
	white-space: initial;
}

#deviceForm input[type=checkbox].form-control {
	width: 34px;
	margin: 0 5px;
}

#deviceForm .confirmLabel {
	margin-top: 15px;
}

#deviceForm .required {
	color: crimson;
}

#deviceForm .fa {
	margin-left: 5px;
}