#main {
	padding: 10px 15px;
}
.selectColumn{
	border:solid;
	height:800px;
}
#appList{
	width: 90%;
	background-color: #F0F8FF;
	border: none;
	margin-left:10px;
}
#deviceList{
	width: 90%;
	background-color: #F0F8FF;
	border: none;
	margin-left:10px;
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #255876;
}
h3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}
.selectColumn {
	border: none;
}