*.bak
*.pyc
*.ipynb
*.sw[ponm]
*~
*.iml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
data/walkoff.db
data/events.db
tests/profileVisualizations/*
build/*
.idea/dictionaries/*.xml
.idea/inspectionProfiles/Project_Default.xml
*.egg
*.pem
data/log/*.log
server/api/composed_api.yaml
.vscode/
node_modules/