*.bak
*.egg
*.iml
*.ipynb
*.key_secret
*.key
*.pem
*.py[co]
*.sw[ponm]
*~
.certificates/
.coverage/
.idea/
.ipynb_checkpoints/
.vscode/
__pycache__/
walkoff_external/apps/*
backups/
coverage.*
walkoff_external/data/*.db
tests/tmp/*
walkoff_external/data/*.db-journal
walkoff_external/data/log/*.log
walkoff_external/data/walkoff.config
docs/_*/
npm-debug.log
tests/testWorkflows/testGeneratedWorkflows_bkup
tests/tmp
tests/tmp/*
walkoff/api/composed_api.yaml
walkoff/client/node_modules/
walkoff/client/build/
walkoff/client/coverage/
walkoff/client/dist/
!walkoff_external/apps/*.py
!walkoff_external/interfaces/*.py
!walkoff_external/interfaces/*.pytests/tmp/*
walkoff_external/data/cache/
