Flask >= 0.10.0
Flask_SQLAlchemy == 2.1
flask_jwt_extended > 3.0.0
sqlalchemy >= 1.1.0
wtforms >= 2.1
APscheduler >= 3.0.0
gevent >= 1.2
connexion >= 1.1
pyaes == 1.6.0
pyyaml >= 3.0
pyzmq > 14.1.0
passlib >= 1.7.0
blinker >= 1.4
