@import '/client/node_modules/cytoscape-panzoom/cytoscape.js-panzoom.css';
@import '/client/node_modules/ng2-dnd/bundles/style.css';

#main.playbookMain {
	padding: 10px 15px 0 15px;
}

.playbookMain .parametersEditor .failure {
    color: crimson;
}

#playbookToolbar {
	background-color: #aecbdc;
	margin-left: 0;
	margin-bottom: 5px;
	border: 1px solid #8b9aa3;
	border-radius: 5px;
}

#playbookToolbar .btn-default {
	background-color: #aecbdc;
	border-color: #aecbdc;
}

#playbookToolbar .btn-default:hover {
	background-color: #eaf2f6;
	border-color: #eaf2f6;
	margin: 0;
	border-radius: 0;
}

#playbookToolbar .btn-group {
	border-right: 1px solid #8b9aa3;
}

#playbookToolbar .btn-group>.btn:first-child {
	margin: 0;
	padding: 10px;
}

#playbookToolbar .btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
	margin-left: 0;
}

#playbookToolbar .form-control.workflowNameInput {
	display: inline-block;
	width: auto;
}

#currentWorkflowText {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 18px;
}

.playbookMain .graphEditorRow, .playbookMain .graphEditorColumn {
	height: calc(100vh - 110px);
	overflow: auto;
}

.playbookMain .panel-heading.playbook-heading {
	cursor: pointer;
}

#playbookEditorTabs {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width:100%;
	position: inherit;
	background: transparent;
}

#cy {
	/* display: inline-block; */
	/* vertical-align: top; */
	width: 100%;
	height: 100%;
}

/* Need to do this else panzoom appears above modals */
#cy .cy-panzoom {
	z-index: 10;
}

#cy-instructions {
	padding: 20px;
	font-size: 25px;
}

#cy-json-data {
	background-color: white;
	color: black;
	font-weight: normal;
	height: 630px;
	width: 500px;
	resize: none;
}

.playbookMain #accordion .panel-heading .panel-title:after {
	/* symbol for "opening" panels */
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	content: "\f078";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	color: grey;         /* adjust as needed */
}

.playbookMain #accordion .panel-heading.collapsed .panel-title:after {
	/* symbol for "collapsed" panels */
	content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

.playbookMain .panel-default>.panel-heading {
	background-color: #eaf2f6;
	font-weight: bolder;
}

.playbookMain .parametersEditor input[type=checkbox].form-control {
	width: 34px;
	margin: 0 5px;
}

.playbookMain .parametersEditor .form-group.argument {
	margin-bottom: 5px;
	padding: 5px;
}

.playbookMain .parametersEditor .form-group.argument.odd {
	background-color: #EEE;
}

.playbookMain .parametersEditor .indent {
	border-left: 3px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px 0 5px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.playbookMain .parametersEditor .addBar {
	margin-bottom: 10px;
}

.playbookMain .parametersEditor .addBar button {
	margin-top: 25px;
}

.playbookMain .parametersEditor .propertyHeader {
	margin-bottom: 5px;
}

.playbookMain .parametersEditor .required {
	color: crimson;
	margin-left: 5px;
}

.playbookMain ngx-datatable datatable-body datatable-body-row datatable-body-cell .datatable-body-cell-label {
	white-space: initial;
}

#workflowsModal .workflowPanel a {
	cursor: pointer;
}

#workflowsModal .panel-heading h4 {
	min-height: 30px;
}

#workflowsModal .modal-title,
#executionResultsModal .modal-title,
#playbookAndWorkflowActionModal .modal-title {
	display: inline;
}

#executionResultsModal > .modal-dialog {
	width: 95%;
}