<div id="main" class="playbookMain">
    <!-- Graph editor toolbar -->
    <div id="playbookToolbar" class=btn-toolbar role=toolbar>
        <div class="btn-group" role="group">
            <button id="new-button" type="button" class="btn btn-default" data-toggle="tooltip" title="New Workflow" (click)="newWorkflowModal()">
                <i class="fa fa-file-o"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="load-button" type="button" class="btn btn-default" data-toggle="modal" data-target="#workflowsModal" title="Load Workflow">
                <i class="fa fa-folder-open-o"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="save-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Save Workflow" [disabled]="!loadedWorkflow"
                (click)="save()">
                <i class="fa fa-save"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="remove-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Delete Selected Nodes" [disabled]="!loadedWorkflow"
                (click)="removeSelectedNodes()">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="undo-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Undo" [disabled]="!loadedWorkflow || (ur && ur.isUndoStackEmpty())"
                (click)="ur.undo()">
                <i class="fa fa-undo"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="redo-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Redo" [disabled]="!loadedWorkflow || (ur && ur.isRedoStackEmpty())"
                (click)="ur.redo()">
                <i class="fa fa-repeat"></i>
            </button>
        </div>
        <!-- <div class="btn-group" role="group">
            <button id="cut-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Cut" [disabled]="!loadedWorkflow"
                (click)="cut()">
                <span class="fa fa-cut" style="transform: rotate(-90deg);"></span>
            </button>
        </div> -->
        <div class="btn-group" role="group">
            <button id="copy-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Copy" [disabled]="!loadedWorkflow"
                (click)="copy()">
                <i class="fa fa-copy"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="paste-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Paste" [disabled]="!loadedWorkflow"
                (click)="paste()">
                <i class="fa fa-paste"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="execute-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Execute Workflow" [disabled]="!loadedWorkflow || !loadedWorkflow.is_valid"
                (click)="executeWorkflow()">
                <i class="fa fa-play-circle"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="clear-execution-highlighting-button" type="button" class="btn btn-default" data-toggle="tooltip" title="Clear Execution Results Highlighting"
                [disabled]="!loadedWorkflow || !loadedWorkflow.is_valid" (click)="clearExecutionHighlighting()">
                <i class="fa fa-eraser"></i>
            </button>
        </div>
        <label *ngIf="loadedWorkflow" id="currentWorkflowText">{{loadedPlaybook.name}} -</label>
        <input *ngIf="loadedWorkflow" type="text" class="form-control workflowNameInput" [(ngModel)]="loadedWorkflow.name" name="name"
            required>
        <label *ngIf="loadedWorkflow && !loadedWorkflow?.is_valid" id="currentWorkflowText">(In Progress)</label>
    </div>
    <!-- Graph editor -->
    <div class="row graphEditorRow">
        <!-- Column for app/action display for drag and drop -->
        <div class="col-md-2 graphEditorColumn">
            <div class="panel-group" id="accordion" [hidden]="!loadedWorkflow">
                <div *ngFor="let app of getAppsWithActions()" class="panel panel-default">
                    <div class="panel-heading playbook-heading collapsed" data-toggle="collapse" [attr.data-target]="'#actionsCollapse' + removeWhitespace(app.name)"
                        [title]="app.info ? app.info.description : ''">
                        <h4 class="panel-title">{{app.name}}</h4>
                    </div>
                    <div id="actionsCollapse{{removeWhitespace(app.name)}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div *ngFor="let actionApi of app.action_apis" class="panel panel-default actionPanel" dnd-draggable [dragEnabled]="true"
                                [dragData]="{ appName: app.name, actionApi: actionApi }" (dblclick)="handleDoubleClickEvent(app.name, actionApi.name)"
                                [title]="actionApi.description">
                                <div class="panel-body">
                                    <span>{{actionApi.name}}</span>
                                    <!-- <i class="fa fa-bars pull-right" aria-hidden="true"></i> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Actual cytoscape graph editor -->
        <div class="col-md-6 graphEditorColumn">
            <div id="cy" #cyRef dnd-droppable (onDropSuccess)="handleDropEvent($event)" [hidden]="!loadedWorkflow" tabindex="0"></div>
            <div id="cy-instructions" [hidden]="loadedWorkflow">
                <p>Instructions:</p>
                <p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#workflowsModal">Load Workflow</button>
                </p>
                <p>
                    Use this button to load the workflow into the graph. After loading an initial workflow you may use the Load Workflow button
                    on the toolbar.
                </p>
                <p>
                    <b>Drag and drop</b> items from Actions tab into the graph to create a new workflow action.
                    <b>Double click</b> also works.
                </p>
            </div>
        </div>

        <!-- Parameter editors -->
        <div class="col-md-4 graphEditorColumn">
            <!-- Editor for Actions -->
            <div *ngIf="!waitingOnData && selectedAction" class="parametersEditor">
                <h3>Action Parameters</h3>
                <div class="row">
                    <div class="col-xs-4">
                        <label>App:</label>
                        <span>{{selectedAction.app_name}}</span>
                    </div>
                    <div class="col-xs-4">
                        <label>Action:</label>
                        <span>{{selectedAction.action_name}}</span>
                    </div>
                    <div class="col-xs-4">
                        <button [disabled]="selectedAction.id === loadedWorkflow.start" class="btn btn-primary pull-right" (click)="setStartNode(selectedAction.id)">Set as Start Action</button>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label>Description:</label>
                        <span>{{selectedActionApi.description}}</span>
                    </div>
                    <div>
                        <label>Returns:</label>
                        <div  *ngFor="let i of selectedActionApi.returns">
                            <div class="col-xs-16 col-xs-offset-1">
                                <label>{{i.status}}</label>
                                <span>{{i.description}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Name
                        <i class="fa fa-asterisk required" title="This field is required."></i>
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="selectedAction.name" name="name" required>
                </div>
                <div *ngIf="!selectedActionApi.global" class="form-group deviceArgument">
                    <label for="device_id">Device
                        <i class="fa fa-asterisk required" title="This field is required."></i>
                    </label>
                    <playbook-argument-component [loadedWorkflow]="loadedWorkflow"
                        [argument]="selectedAction.device_id" [id]="id"
                        [users]="users" [roles]="roles" [devices]="relevantDevices"></playbook-argument-component>
                </div>
                <!-- Inputs -->
                <div *ngIf="selectedActionApi.parameters.length">
                    <h4>Arguments</h4>
                    <playbook-argument-component *ngFor="let parameterApi of selectedActionApi.parameters; let id = index" [loadedWorkflow]="loadedWorkflow"
                        [argument]="getOrInitializeSelectedActionArgument(parameterApi)" [parameterApi]="parameterApi" [id]="id"
                        [users]="users" [roles]="roles"></playbook-argument-component>
                </div>
                <!-- Triggers -->
                <div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Trigger Condition</h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button *ngIf="!selectedAction.trigger" class="btn btn-primary pull-right" (click)="specifyTrigger(selectedAction)">
                                    <i class="fa fa-plus"></i>Specify Trigger Condition
                                </button>
                                <button *ngIf="selectedAction.trigger" class="btn btn-danger pull-right" (click)="removeTrigger(selectedAction)">
                                    <i class="fa fa-close"></i>Remove Trigger Condition
                                </button>
                            </div>
                        </div>
                    </div>
                    <playbook-conditional-expression-component *ngIf="selectedAction.trigger" [conditionalExpression]="selectedAction.trigger"
                        [appApis]="appApis" [selectedAppName]="selectedAction.app_name" [loadedWorkflow]="loadedWorkflow"></playbook-conditional-expression-component>
                </div>
            </div>
            <!-- Editor for Branches (edges) -->
            <div *ngIf="selectedBranchParams && selectedBranchParams.branch" class="parametersEditor">
                <h3>Branch Parameters</h3>
                <div class="form-group">
                    <label for="status">Return Type
                        <i class="fa fa-asterisk required" title="This field is required."></i>
                    </label>
                    <select class="form-control" [(ngModel)]="selectedBranchParams.branch.status" name="status">
                        <option *ngFor="let i of selectedBranchParams.returnTypes" [value]="i.status" [label]="i.status" [class.failure]="i.failure">{{i.status}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="priority">Priority
                        <i class="fa fa-asterisk required" title="This field is required."></i>
                    </label>
                    <input type="number" max="999" min="1" class="form-control" [(ngModel)]="selectedBranchParams.branch.priority" name="priority"
                        required>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h4>Condition</h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <button *ngIf="!selectedBranchParams.branch.condition" class="btn btn-primary pull-right" (click)="specifyCondition(selectedBranchParams.branch)">
                                    <i class="fa fa-plus"></i>Specify Condition
                                </button>
                                <button *ngIf="selectedBranchParams.branch.condition" class="btn btn-danger pull-right" (click)="removeCondition(selectedBranchParams.branch)">
                                    <i class="fa fa-close"></i>Remove Condition
                                </button>
                            </div>
                        </div>
                    </div>
                    <playbook-conditional-expression-component *ngIf="selectedBranchParams.branch.condition" [conditionalExpression]="selectedBranchParams.branch.condition"
                        [appApis]="appApis" [selectedAppName]="selectedBranchParams.appName" [loadedWorkflow]="loadedWorkflow"></playbook-conditional-expression-component>
                </div>
            </div>
        </div>
    </div>
    <div class="row consoleRow" *ngIf="loadedWorkflow?.id">
        <ul class="nav nav-tabs">
            <li *ngIf="!loadedWorkflow?.has_errors" class="active"><a data-toggle="tab" href="#console"> Console </a></li>
            <li *ngIf="!loadedWorkflow?.has_errors"><a data-toggle="tab" href="#executionLog"> Execution </a></li>
            <li *ngIf="loadedWorkflow?.has_errors" class="active"><a data-toggle="tab" href="#errorLog"> Workflow Errors ({{ loadedWorkflow?.all_errors.length }}) </a></li>
        </ul>
        <div class="tab-content">
            <div id="console" #consoleContainer class="tab-pane fade in active" *ngIf="!loadedWorkflow?.has_errors">
                 <ngx-datatable #consoleTable class='material expandable' [columnMode]="'flex'" [rows]="consoleLog" [sortType]="'multi'"
                        [headerHeight]="25" [footerHeight]="25" [rowHeight]="undefined" [sorts]="[]"
                        [limit]="10">

                     <ngx-datatable-column name="Level" prop="level" [flexGrow]="1">
                         <ng-template let-row="row" ngx-datatable-cell-template>
                             {{row.level}}
                         </ng-template>
                     </ngx-datatable-column>

                     <ngx-datatable-column name="App Name" prop="app_name" [flexGrow]="2">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.app_name}}
                        </ng-template>
                    </ngx-datatable-column>                     

                     <ngx-datatable-column name="Action Name" prop="action_name" [flexGrow]="2">
                         <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.action_name}}
                         </ng-template>
                     </ngx-datatable-column>

                     <ngx-datatable-column name="Message" prop="message" [flexGrow]="4">
                         <ng-template let-row="row" ngx-datatable-cell-template>
                             {{row.message}}
                         </ng-template>
                     </ngx-datatable-column>
         
                 </ngx-datatable>
            </div>
            <div id="executionLog" class="tab-pane fade" *ngIf="!loadedWorkflow?.has_errors">
                <div id="executionResultsModal">
                    <div #workflowResultsContainer>
                        <ngx-datatable #workflowResultsTable class='material expandable' [columnMode]="'flex'" [rows]="actionStatuses" [sortType]="'multi'"
                        [headerHeight]="25" [footerHeight]="25" [rowHeight]="undefined" [sorts]="[{prop: 'started_at', dir: 'desc'}]"
                        [limit]="10">
                        <!-- Column Templates -->
                        <ngx-datatable-column name="Action IDs" prop="action_id" [flexGrow]="1"></ngx-datatable-column>
                        <ngx-datatable-column name="App Name" prop="app_name" [flexGrow]="1"></ngx-datatable-column>
                        <ngx-datatable-column name="Action Name" prop="action_name" [flexGrow]="1"></ngx-datatable-column>
                        <ngx-datatable-column name="Started At" prop="started_at" [flexGrow]="1">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span [title]="row.localized_started_at">
                                    {{actionStatusStartedRelativeTimes[row.execution_id]}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Completed At" prop="completed_at" [flexGrow]="1">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span [title]="row.localized_completed_at">
                                    {{actionStatusCompletedRelativeTimes[row.execution_id]}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status" prop="status" [flexGrow]="1"></ngx-datatable-column>
                        <ngx-datatable-column name="Arguments" [sortable]="false" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{getFriendlyArguments(row.arguments)}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Result" [sortable]="false" [flexGrow]="4">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{getFriendlyJSON(row.result)}}
                            </ng-template>
                        </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
            <div id="errorLog" #errorLogContainer class="tab-pane fade in active" *ngIf="loadedWorkflow?.has_errors">
                <ngx-datatable #errorLogTable class='material expandable' [columnMode]="'flex'" [rows]="getErrors()" [sortType]="'multi'"
                       [headerHeight]="25" [footerHeight]="25" [rowHeight]="undefined" [sorts]="[]"
                       [limit]="10">
                    <ngx-datatable-column name="Error"  prop="error" [sortable]="false" [flexGrow]="1"></ngx-datatable-column>
                </ngx-datatable>
           </div>
        </div>
    </div>

    <div class="modal fade" id="playbookAndWorkflowActionModal" role="dialog" aria-labelledby="playbookAndWorkflowActionModalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="playbookAndWorkflowActionModalTitle">{{modalParams.title}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="modalParams.shouldShowPlaybook" class="form-group">
                        <h6>{{modalParams.shouldShowExistingPlaybooks ? 'Select a Playbook' : 'Enter a Playbook'}}</h6>
                        <select *ngIf="modalParams.shouldShowExistingPlaybooks" name="playbookSelect" id="playbookSelect" [(ngModel)]="modalParams.selectedPlaybookId"
                            class="form-control">
                            <option [ngValue]="''">-- Create new Playbook --</option>
                            <option *ngFor="let i of playbooks" [ngValue]="i.id" [label]="i.name">{{i.name}}</option>
                        </select>
                        <input type="text" *ngIf="modalParams.selectedPlaybookId === '' || !modalParams.shouldShowExistingPlaybooks" [(ngModel)]="modalParams.newPlaybook"
                            class="form-control" placeholder="Enter a new playbook name">
                    </div>
                    <div *ngIf="modalParams.shouldShowWorkflow" class="form-group">
                        <h6>Enter a Workflow</h6>
                        <input type="text" [(ngModel)]="modalParams.newWorkflow" class="form-control" placeholder="Enter a new workflow name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="modalParams.submit()">{{modalParams.submitText}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="workflowsModal" role="dialog" aria-labelledby="workflowModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="workflowModalTitle">Playbooks and Workflows</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="importContainer">
                        <h4>Import Playbook</h4>
                        <div class="pull-right">
                            <input type="file" name="file" id="file" class="importPlaybookInput" (change)="onImportSelectChange($event)"/>
                            <button [disabled]="!playbookToImport" (click)="importPlaybook()" class="btn btn-primary" title="Import Playbook">
                                <i class="fa fa-upload"></i>
                            </button>
                        </div>
                    </div>
                    <div class="panel-group" id="workflowAccordion">
                        <div *ngFor="let playbook of playbooks" class="panel panel-default">
                            <div class="panel-heading playbook-heading" data-toggle="collapse" [attr.data-target]="'#loadWorkflowCollapse' + removeWhitespace(playbook.name)">
                                <h4 class="panel-title">
                                    {{playbook.name}}
                                    <div class="pull-right">
                                        <button (click)="renamePlaybookModal($event, playbook)" class="btn btn-primary" title="Rename Playbook">
                                            <i class="fa fa-i-cursor"></i>
                                        </button>
                                        <button (click)="duplicatePlaybookModal($event, playbook)" class="btn btn-primary" title="Duplicate Playbook">
                                            <i class="fa fa-copy"></i>
                                        </button>
                                        <button (click)="exportPlaybook($event, playbook)" class="btn btn-primary" title="Export Playbook">
                                            <i class="fa fa-download"></i>
                                        </button>
                                        <button (click)="deletePlaybook($event, playbook)" class="btn btn-danger" title="Delete Playbook">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </h4>
                            </div>
                            <div id="loadWorkflowCollapse{{removeWhitespace(playbook.name)}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div *ngFor="let workflow of playbook.workflows" class="panel panel-default workflowPanel">
                                        <div class="panel-body">
                                            <a (click)="loadWorkflow(playbook, workflow)">{{workflow.name}}</a>
                                            <div class="pull-right">
                                                <!-- <button (click)="renameWorkflowModal(playbook.id, workflow.id)" class="btn btn-primary" title="Rename Workflow">
                                                    <i class="fa fa-i-cursor"></i>
                                                </button> -->
                                                <button (click)="duplicateWorkflowModal(playbook.id, workflow.id)" class="btn btn-primary" title="Duplicate Workflow">
                                                    <i class="fa fa-copy"></i>
                                                </button>
                                                <button (click)="deleteWorkflow(playbook, workflow)" class="btn btn-danger" title="Delete Workflow">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>