.card-header .card-title:after {
	/* symbol for "opening" panels */
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
    text-rendering: auto;
    margin-top: 5px;
	content: "\f078";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	color: grey;         /* adjust as needed */
}

.card-header.collapsed .card-title:after {
	/* symbol for "collapsed" panels */
	content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

.card-header {
    cursor: pointer;

}