<div id="main">
	<div id="header">
		<h2>Controller Management</h2>
		<h3>{{currentController}}</h3>
	</div>
	<div class="row">
		<h3 class="col-xs-4">Playbook Management</h3>
		<h3 class="col-xs-4">Cases</h3>
		<h3 class="col-xs-4">Scheduler</h3>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="controllerCol">
				<h4>Loaded Workflows</h4>
				<div id="loadedPlaybooksTree"></div>
				<div id="loadWorkflowDiv"></div>
				<div>
					<h4>Status</h4>
					<div id="executionResult">
						<ul id="eventList"></ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="controllerCol">
				<h4>Loaded Cases</h4>
				<div id="casesTree"></div>
				<button class="btn btn-primary" (click)="addCase()" id="addCase">Add Case</button>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="controllerCol">
				<div id="schedulerStatus">
					<h4>Scheduler Currently: <span id="status">{{schedulerStatus}}</span></h4>
				</div>
				<button *ngIf="canStart()" (click)="changeSchedulerStatus('start')" class="btn btn-primary" id="startSchedulerBtn">Start</button>
				<button *ngIf="canPause()" (click)="changeSchedulerStatus('pause')" class="btn btn-warning" id="pauseSchedulerBtn">Pause</button>
				<button *ngIf="canStop()" (click)="changeSchedulerStatus('stop')" class="btn btn-danger" id="stopSchedulerBtn">Stop</button>
				<div id="messageDetail"></div>
			</div>
		</div>
	</div>
	
	<div id="editSubscriptionDialog" title="subscription parameters" class="ui-widget">
		<table>
			<tr>
				<td>Ancestry</td>

				<td>
					<div id="objectSelectionDiv" name="objectSelectionDiv" class="objectSelectionDiv">
						<!-- <li><label for='controllerObjectSelection'>Controller</label><select data-type="controller" id='controllerObjectSelection' class='objectSelection'></select></li>
						<li><label for='playbookObjectSelection'>Playbook</label><select data-type="playbook" id='playbookObjectSelection' class='objectSelection'></select></li>
						<li><label for='workflowObjectSelection'>Workflow</label><select data-type="workflow" id='workflowObjectSelection' class='objectSelection'></select></li>
						<li><label for='stepObjectSelection'>Step</label><select data-type="step" id='stepObjectSelection' class='objectSelection'></select></li>
						<li><label for='nextStepObjectSelection'>Next Step</label><select data-type="nextstep" id='nextStepObjectSelection' class='objectSelection'></select></li>
						<li><label for='flagObjectSelection'>Flag</label><select data-type="flag" id='flagObjectSelection' class='objectSelection'></select></li>
						<li><label for='filterObjectSelection'>Filter</label><select data-type="filter" id='filterObjectSelection' class='objectSelection'></select></li> -->

						<!--<li><label for='controllerObjectSelection'>Controller</label><input data-type="controller" name="controller" id='controllerObjectSelection' class='objectSelection' type="text"></input></li>-->
						<!--<li><label for='playbookObjectSelection'>Playbook</label><input data-type="playbook" name="playbook" id='playbookObjectSelection' class='objectSelection' type="text"></input></li>-->
						<!--<li><label for='workflowObjectSelection'>Workflow</label><input data-type="workflow" name="workflow" id='workflowObjectSelection' class='objectSelection' type="text"></input></li>-->
						<!--<li><label for='stepObjectSelection'>Step</label><input data-type="step" name="step" id='stepObjectSelection' class='objectSelection' type="text"></input></li>-->
						<!--<li><label for='nextStepObjectSelection'>Next Step</label><input data-type="nextstep" name="nextstep" id='nextStepObjectSelection' class='objectSelection' type="text"></input></li>-->
						<!--<li><label for='flagObjectSelection'>Flag</label><input data-type="flag" name="flag" id='flagObjectSelection' class='objectSelection' type="text"></input></li>-->
						<!--<li><label for='filterObjectSelection'>Filter</label><input data-type="filter" name="filter" id='filterObjectSelection' class='objectSelection' type="text"></input></li>-->
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td width="10%" colspan="4"><span class="add btn btn-success">Add</span></td>
								</tr>
							</thead>
							<tbody class="container">
								<tr class="template row">
									<td width="10%" class="rowLabel">Controller</td>
									<td width="80%">
										<input name="ancestry-$rowCount" type="text" value="">
									</td>
									<td width="10%"><span class="remove btn btn-danger">Remove</span></td>
								</tr>
							</tbody>
						</table>
					</div>

				</td>
			</tr>
			<tr>
				<td>Subscriptions</td>
					<td>
					<ul class="subscriptionSelection"></ul>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><button id="submitForm">Submit</button></td>
			</tr>
		</table>
	</div>

	<div id="editCaseDialog" title="case parameters" class="ui-widget">
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text"></td>
			</tr>
		</table>
	</div>
	<!--<script src="{{ url_for('static', filename='plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/jQueryUI/jquery-ui.js' ) }}"></script>
	<script src="{{ url_for('static', filename='plugins/jstree/jstree.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/repeatableFields/repeatable-fields.js') }}"></script>
	<script type="text/javascript">
		loadedWorkflows = {{loadedWorkflows | safe}};
		schedulerStatusNo = {{schedulerStatus}};
		controllers = ["{{currentController}}"];

		ancestryElement = '{{editSubscriptionForm.ancestry | safe}}';


	</script>

	<script src="{{ url_for('static', filename='pages/controller/loadedWorkflows.js' ) }}"> </script>
	<script src="{{ url_for('static', filename='pages/controller/caseFunctions.js' ) }}"> </script>
	<script src="{{ url_for('static', filename='pages/controller/cases.js' ) }}"> </script>
	<script src="{{ url_for('static', filename='pages/controller/scheduler.js' ) }}"> </script>
	<script src="{{ url_for('static', filename='pages/controller/main.js' ) }}"> </script>-->
</div>
<form id="ancestryAjaxForm" class="display:none;">
	<!--{{editSubscriptionForm | safe}}-->
</form>