.casesModal > .modal-dialog {
	width: 95%;
}
.caseSubscriptionCol {
	overflow: auto;
}
.eventsList {
	list-style: none;
	padding-left: 0;
}
#caseSubscriptionsTree {
	user-select: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}
	#caseSubscriptionsTree .node circle {
		fill: #fff;
		stroke: steelblue;
		stroke-width: 3px;
		cursor: pointer;
	}
	#caseSubscriptionsTree .node.highlighted circle, 
	#caseSubscriptionsTree .node.highlighted.included circle{
		stroke: red;
	}
	#caseSubscriptionsTree .node.included circle {
		stroke: black;
	}
	#caseSubscriptionsTree .node text {
		font: 12px sans-serif;
		cursor: pointer;
	}
	#caseSubscriptionsTree .node.included text {
		font-weight: bold;
	}
	#caseSubscriptionsTree .link {
		fill: none;
		stroke: #ccc;
		stroke-width: 2px;
	}