@import '/client/node_modules/@swimlane/ngx-datatable/release/index.css';
@import '/client/node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '/client/node_modules/@swimlane/ngx-datatable/release/assets/icons.css';

.contentContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

/* .contentContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.navbar-custom {
  background-color: #3c8dbc;
}

.navbar-custom a {
  color: #f6f6f6;
}

.navbar-custom a .navLink {
  margin-left: 5px;
}

.navbar-custom .dropdown-item {
  color: #333333;
}

.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}

.navbar-nav .dropdown .dropdown-menu {
  background-color: #3c8dbc;
}

.navbar-nav .dropdown .dropdown-menu .installedApp {
  color: white;
}

.navbar-nav .dropdown .dropdown-menu .installedApp:hover {
  color: #3c8dbc;
}

.navbar-nav .dropdown .dropdown-menu .installedApp span {
  margin-left: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 51px;
  background-color: #e7e7e7;
  padding: 15px;
}
