<div class="wrapper">

  <!-- Main Header -->
  <header>
    <nav class="navbar navbar-default navbar-custom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>WALK</b>OFF</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">You have no Shortstop apps installed.</a></li>
                <!--{% for app in apps %}
                          <li><a class="installedApp" href="#"><i class="fa fa-gear"></i> {{app}} </a></li>
                      {% else %}
                          <li>You have no Shortstop apps installed.</li>
                    {% endfor %}-->
              </ul>
            </li>
            <li>
              <a id="ss_controller" href="#"><i class="fa fa-gear"></i> Controller </a>
            </li>
            <li>
              <a id="ss_playbook" href="#"><i class="fa fa-sitemap"></i> Playbook </a>
            </li>
            <li>
              <a id="ss_devices" href="#"><i class="fa fa-sitemap"></i> Devices </a>
            </li>
            <li>
              <a id="ss_triggers" href="#"><i class="fa fa-sitemap"></i> Triggers </a>
            </li>
            <li>
              <a id="ss_cases" href="#"><i class="fa fa-sitemap"></i> Cases </a>
            </li>
            <li>
              <a id="ss_settings" href="#"><i class="fa fa-gear"></i> Settings </a>
            </li>
          </ul>

          <!-- Header Navbar -->
          <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
              <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                  <!-- Menu Toggle Button -->
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img src="client/main/img/genericUser.png" class="user-image" alt="User Image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs"><%currentUser%></span>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                      <img src="client/main/img/genericUser.png" class="img-circle" alt="User Image">

                      <p>
                        <%currentUser%>
                      </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                      <div class="row">

                      </div>
                      <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">

                      <div class="pull-right">
                        <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                      </div>
                      <div class="pull-left">
                        <a href="/key" onclick="window.open(this.href, 'targetWindow', 'width=925, height=150'); return false;" class="btn btn-default btn-flat">API Key</a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
          <img src="client/main/img/genericUser.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{currentUser}}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu">
        <li class="header">TOOLS</li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Installed Apps</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>You have no Shortstop apps installed.</li>
            <!--{% for app in apps %}
                    <li><a class="installedApp" href="#"><i class="fa fa-gear"></i> {{app}} </a></li>
                {% else %}
                    <li>You have no Shortstop apps installed.</li>
              {% endfor %}-->
          </ul>
        </li>
        <li>
          <a id="ss_controller" href="#"><i class="fa fa-gear"></i> Controller </a>
        </li>
        <li>
          <a id="ss_playbook" href="#"><i class="fa fa-sitemap"></i> Playbook </a>
        </li>
        <li>
          <a id="ss_devices" href="#"><i class="fa fa-sitemap"></i> Devices </a>
        </li>
        <li>
          <a id="ss_triggers" href="#"><i class="fa fa-sitemap"></i> Triggers </a>
        </li>
        <li>
          <a id="ss_cases" href="#"><i class="fa fa-sitemap"></i> Cases </a>
        </li>
        <li>
          <a id="ss_settings" href="#"><i class="fa fa-gear"></i> Settings </a>
        </li>

        <!-- <li>
            <a id="ss_help" href="#"><i class="fa fa-gear"></i> Help </a>
        </li> -->
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
    </section>
    <div>
      <section>
        <div>
          <router-outlet></router-outlet>
        </div>
      </section>
      <br clear="all" />
    </div>

    <footer class="footer">
      <strong>WALKOFF</strong>
    </footer>
  </div>