/* #main.malwareAppMain {
	width: 80%;
} */

.basicInfoCol {
	text-align: right;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* #timelineContainer *,
#timelineContainer *::before,
#timelineContainer *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#timelineContainer button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#timelineContainer {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #F45B69;
  padding: 5px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}
.timeline {
	white-space: nowrap;
	overflow-x: hidden;
  }
  
  .timeline ol {
	font-size: 0;
	width: 100vw;
	padding: 120px 0 100px 0;
	transition: all 1s;
  }
  
  .timeline ol li {
	position: relative;
	display: inline-block;
	list-style-type: none;
	width: 160px;
	height: 3px;
	background: #fff;
  }
  
  .timeline ol li:last-child {
	width: 280px;
  }
  
  .timeline ol li:not(:first-child) {
	margin-left: 14px;
  }
  
  .timeline ol li:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 50%;
	left: calc(100% + 1px);
	bottom: 0;
	width: 12px;
	height: 12px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #F45B69;
  }
  
  .timeline ol li div {
	position: absolute;
	left: calc(100% + 7px);
	width: 280px;
	padding: 15px;
	font-size: 1rem;
	white-space: normal;
	color: black;
	background: lightgreen;
	border-radius: 5px;
  }

  .timeline ol li.error div {
	  background: pink;
  }
  
  .timeline ol li div::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
  }
  
  .timeline ol li:nth-child(odd) div {
	top: -16px;
	transform: translateY(-100%);
	border-bottom-left-radius: 0;
  }
  
  .timeline ol li:nth-child(odd) div::before {
	top: 100%;
	border-width: 8px 8px 0 0;
	border-color: lightgreen transparent transparent transparent;
  }

  .timeline ol li.error:nth-child(odd) div::before {
	border-color: pink transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(even) div {
	top: calc(100% + 16px);
	border-top-left-radius: 0;
  }
  
  .timeline ol li:nth-child(even) div::before {
	top: -8px;
	border-width: 8px 0 0 8px;
	border-color: transparent transparent transparent lightgreen;
  }

  .timeline ol li.error:nth-child(even) div::before {
	border-color: transparent transparent transparent pink;
  }
  
  .timeline time {
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 8px;
  }

  .timeline span {
	  font-size: 1.4rem;
  }
  
  
  /* TIMELINE ARROWS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline .arrows {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .timeline .arrows .arrow__prev {
	margin-right: 20px;
  }
  
  .timeline .disabled {
	opacity: .5;
  }
  
  .timeline .arrows img {
	width: 45px;
	height: 45px;
  }