table {
    border-collapse: collapse;
}

th, td {
    padding: 10px 3px 10px 3px;
}

th {
    background-color: #3c8dbc;
    color: #f2f2f2;
    text-align: center;
    vertical-align: bottom;
}

td {
    test-align: left;
    vertical-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #cfd4d6;
}

tr:hover {
    background-color: #99c7e3;
}