<!DOCTYPE html>
<html lang="en">
<head>
    <script src="client/node_modules/jquery/dist/jquery.min.js"></script>
    <meta charset="UTF-8">
    <style>
        body{
            font-family: "Roboto", sans-serif;
        }
        #logo{
            height:300px;
            width:400px;
        }
        .form{
            text-align:center;
        }
        .row{
            padding-bottom:10px;
        }
    </style>



</head>
<body>
    <div class="form">
        <div class="formHeader">
            <img id="logo" src="client/login/img/walkoffLogo.png" height="150" width="250" style="padding-left:20px; text-align:center;"/>
            <h2>WALKOFF Login</h2>
        </div>

        <div id="message"></div>
        <form id="loginForm" action="/login-process" method="POST">
            <div class="row">
                <label class="col-4-xs">Username:</label>
                <input id="username" type="text" class="col-8-xs" />
            </div>
            <div class="row">
                <label class="col-4-xs">Password:</label>
                <input id="password" type="password" class="col-8-xs" />
            </div>
            <div class="row">
                <input type="submit" id="login" class="btn btn-primary" value="Login" />
            </div>

        </form>

    </div>
    <script>
        $("#loginForm").on("submit", function(e){
            e.preventDefault();
            var username = $("#username").val();
            var password = $("#password").val();
            $.ajax({
                url:'/api/auth',
                contentType:'application/json',
                data:JSON.stringify({"username":username, "password": password}),
                type:"POST",
                async: false,
                success: function(data){
                    window.localStorage.setItem("access_token", data["access_token"]);
                    window.localStorage.setItem("refresh_token", data["refresh_token"]);
                    // window.localStorage.setItem("currentUser", username);
                    location.href = "/";
                },
                error: function (e) {
                    $("#message").text("Invalid Login");
                }
            });
        });
    </script>
</body>
</html>

