<!DOCTYPE html>
<html lang="en">
<head>
    <script src="client/node_modules/jquery/dist/jquery.min.js"></script>
    <meta charset="UTF-8">
    <style>
        body{
            font-family: "Roboto", sans-serif;
        }
        #logo{
            height:300px;
            width:400px;
        }
        .form{
            text-align:center;
        }
        .row{
            padding-bottom:10px;
        }
    </style>



</head>
<body>
    <div class="form">
        <div class="formHeader">
            <img id="logo" src="client/login/img/walkoffLogo.png" height="150" width="250" style="padding-left:20px; text-align:center;"/>
            <h2>WALKOFF Login</h2>
        </div>

        <div id="message">

        </div>
        <div class="row">
            <label class="col-4-xs">Username:</label>
            <input id="username" type="text" class="col-8-xs">
        </div>
        <div class="row">
            <label class="col-4-xs">Password:</label>
            <input id="password" type="password" class="col-8-xs">
        </div>
        <div class="row">
            <button id="login" class="btn btn-primary">Login</button>
        </div>

    </div>
    <script>
        $("#login").on("click", function(){
            var username = $("#username").val();
            var password = $("#password").val();

            $.ajax({
                url:'/login-process',
                contentType:'application/json',
                data:JSON.stringify({"username":username, "password": password}),
                type:"POST",
                success: function(e){
                    console.log(e);
                    window.location.replace("/");
                }
            });
        });
    </script>
</body>
</html>

