<div class="modal-header">
	<h4 class="modal-title">{{message.subject}}</h4>
</div>
<div id="messageModalBody" class="modal-body">
	<div class="container-fluid">
		<div *ngFor="let body of message.body">
			<p *ngIf="body.type === 'text'">{{body.data.text}}</p>
			<a *ngIf="body.type === 'url'" [href]="body.data.url">{{body.data.title ? body.data.title : body.data.url}}</a>
			<div *ngIf="body.type === 'accept_decline'">
				<button type="button" class="btn btn-secondary" (click)="performMessageAction('decline')">Decline</button>
				<button type="button" class="btn btn-primary" (click)="performMessageAction('accept')">Accept</button>
			</div>
		</div>
	</div>
</div>
<!-- <div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Undo Changes and Close</button>
	<button type="button" class="btn btn-primary" [disabled]="!roleForm.form.valid" (click)="submit()">{{submitText}}</button>
</div> -->