<div id="main">
    <script src="{{ url_for('static', filename='pages/triggers/main.js' ) }}"> </script>

    <script type="app/javascript">
        var triggers = {{triggers|safe}};
    </script>



    <style>
        .selectColumn{
            display:inline-block;
{#            background-color:#f8f8f8;#}
        }

        .selectColumn > h2{
            margin-bottom:25px;
        }

        #deviceSelect{
            width:250px;
            margin-right:50px;
            background-color:#ecf0f5;
        }

        #parameterSelect{
            width:550px;
            position:relative;
            bottom:500px;
            background-color:#ecf0f5;
        }

        .btn {
            position: relative;
            display: inline-block;

            width:75px;
            height:50px;

            padding: 4px 12px;
            margin-bottom: 0;
            line-height: 30px;
            color: #333333;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #ccc;
            border-bottom-width: 2px;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
        }
        /* Example wrapper */



            /* Frame */
            .vframe {
                overflow-y: scroll;
                min-height:100px;
                border: 1px solid #444;
            }
            .vframe .slidee {
                padding: 20px 25px;
                background: #fff;
            }
            .vframe ul.items {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
                font-size: 24px;
                line-height: 75px;
            }
            .vframe ul.items li {
                float: left;
                width: 100%;
                height: 75px;
                margin: 0 0 1px;
                padding: 0;
                background: #333;
                color: #ddd;
                text-align: center;
                cursor: pointer;
            }
            .vframe ul.items li.active {
                color: #fff;
                background: #a03232;
            }

            /* Scrollbar */
            .vscrollbar {
                position: absolute;
                right: 10px;
                width: 2px;
                height: 600px;
                background: #ccc;
                line-height: 0;
            }
            .vscrollbar .handle {
                width: 100%;
                height: 100px;
                background: #292a33;
                cursor: pointer;
            }
            .vscrollbar .handle .mousearea {
                position: absolute;
                top: 0;
                left: -10px;
                width: 22px;
                height: 100%;
            }

            /* Pages */
            .vpages {
                list-style: none;
                margin: 20px 0;
                padding: 0;
                text-align: center;
            }
            .vpages li {
                display: inline-block;
                width: 14px;
                height: 14px;
                margin: 0 4px;
                text-indent: -999px;
                border-radius: 10px;
                cursor: pointer;
                overflow: hidden;
                background: #fff;
                box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
            }
            .vpages li:hover {
                background: #aaa;
            }
            .vpages li.active {
                background: #666;
            }

            /* Controls */
            .vcontrols { margin: 25px 0; text-align: center; }


            .appsHeader{
                display:left;
            }
    </style>
    <div id="deviceWrapper" class="row">
        <div class="selectColumn col-md-6" >
            <h2> Triggers </h2>
            <div class="vertScrollBar">
                <div class="handle">
                    <div class="mousearea"></div>
                </div>
            </div>

            <div class="vframe smart" id="smart">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Trigger</h2>
                        <select class="list-group" id="trigger">
                            <option value="none" selected disabled>Select trigger</option>
                        </select>
                    </div><div class="col-md-4">
                        <h2>Conditional</h2>
                        <div class="list-group" id="conditional">
                        </div>
                    </div><div class="col-md-4">
                        <h2>Workflow</h2>
                        <div class="list-group" id="workflow">
                        </div>
                    </div>
                </div>

            </div>

            <ul class="vpages"></ul>

            <div class="vcontrols center">
                <p>
                    <span class="btn-group">
                        <button class="btn remove">Remove</button>
                        <button class="btn" id="editTrigger" >Edit</button>
                    </span>
                </p>
            </div>
        </div>
        <div id="parameterEdit" class="col-md-3">
            <h2>Edit Form</h2>
            <form id="editDeviceForm">
                {% from "pages/_formhelpers.html" import render_field, render_multi_field %}
                {{ render_field(editForm.name) }}
                {{ render_multi_field(editForm.conditional.key) }}
                {{ render_field(editForm.play) }}
            </form>
            <button id="editformSubmit" class="btn">Submit</button>

        </div>
        <div  class="selectColumn col-md-3">
            <h2> Add Trigger </h2>
            <form id="deviceForm">
                {% from "pages/_formhelpers.html" import render_field, render_multi_field %}
                {{ render_field(form.name) }}
                {{ render_multi_field(form.args) }}
                {{ render_field(form.play) }}

            </form>
            <button id="addTrigger" class="btn add">Add</button>
        </div>
    </div>

</div>