<link rel="stylesheet" href="{{ url_for('appPage.static', app=g.app, filename='lib/c3/c3.min.css' ) }}">
<link rel="stylesheet" href="{{ url_for('appPage.static', app=g.app, filename='lib/jvectormap/jquery-jvectormap-1.2.2.css' ) }}" media="screen">

<script src="{{ url_for('appPage.static', app=g.app, filename='lib/d3/d3.min.js') }}"></script>
<script src="{{ url_for('appPage.static', app=g.app, filename='lib/c3/c3.min.js') }}"></script>
<script src="{{ url_for('appPage.static', app=g.app, filename='lib/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ url_for('appPage.static', app=g.app, filename='lib/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
<script src="{{ url_for('appPage.static', app=g.app, filename='main.js') }}"></script>

<div id="main" class="container-fluid">
    <h3>Hello World Dashboard</h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Chart 1 Title</div>
                <div class="panel-body">
                    <div class="chart" id="chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">Chart 2 Title</div>
                <div class="panel-body">
                    <div class="chart" id="chart2"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">Chart 3 Title</div>
                <div class="panel-body">
                    <div class="chart" id="chart3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Chart 4 Title</div>
                <div class="panel-body">
                    <div class="chart" id="chart4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-success">
                <div class="panel-heading">Chart 5 Title</div>
                <div class="panel-body">
                    <div id="chart5" style="width: 750px; height: 400px;" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <b>Counter Stream</b>
        <ul id="counter_stream"></ul>
        <b>Random Number Stream</b>
        <ul id="rand_stream"></ul>
    </div>
</div>
