<div id="main">
    <script type="Application/javascript">

    </script>
    <style>
        #cy {
          height: 700px;
          width: 1000px;
          position: relative;
          left: 0;
          margin-top: 20px;
          border:solid;
          background-color:white;
          background-image:url("{{ url_for('static', filename='pages/playbook/img/backgroundGrid.png') }}");
        }
    </style>

    <div id="header">
        <h3> Workflow Editor </h3>
    </div>
    <div id="body">
        <div class="chart" id="OrganiseChart-big-commpany"></div>
        <button id="executeWorkflowButton">Execute Workflow</button>
    </div>
    <script src="{{ url_for('static', filename='pages/playbook/js/cytoscape.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='pages/playbook/js/cytoscape-undo-redo.js') }}"></script> -->
    <script src="{{ url_for('static', filename='pages/playbook/js/main.js' ) }}"> </script>

    <div id="cy"></div>
</div>