.modal-xxl .modal-dialog {
	max-width: 85%;
}

.code-block {
	max-height: 8.5rem;
	white-space: pre-wrap;
	overflow-y: hidden;

	&.code-block-sm {
		max-height: 3.5rem;
	}

	&.code-block-xl {
		max-height: 12rem;
	}
}

.cursor-pointer {
	cursor: pointer;
}