#main {
	padding: 10px 15px;
}
.selectColumn{
	border:solid;
	height:800px;
}
#triggerList{
	width:90%;
	background-color: #F0F8FF;
	border: none;
	margin-left:10px;
}
h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
h3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}
button {
	display: block;
	margin-top: 10px;
	margin-left:10px;
}
.selectColumn {
	border: none;
}