<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Walkoff - Automation for Everyone </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
    <main-component>Loading...</main-component>
<script type="text/javascript" src="client/dist/runtime.js"></script><script type="text/javascript" src="client/dist/polyfills.js"></script><script type="text/javascript" src="client/dist/styles.js"></script><script type="text/javascript" src="client/dist/styles.js"></script><script type="text/javascript" src="client/dist/vendor.js"></script><script type="text/javascript" src="client/dist/main.js"></script></body>
</html>