/* @import '/client/node_modules/ng-pick-datetime/styles/picker.min.css'; */

.bucketsMain {
	padding: 10px 15px;
}

.bucketsMain #bucketsStatus {
	display: inline-block;
}

.bucketsMain ngx-datatable datatable-body datatable-body-row datatable-body-cell .datatable-body-cell-label {
	white-space: initial;
}
