/* @import '/client/node_modules/cytoscape-panzoom/cytoscape.js-panzoom.css';
@import '/client/node_modules/ng2-dnd/bundles/style.css'; */

#main.workflowEditorMain {
	padding: 10px 15px 0 15px;
}

.workflowEditorMain .parametersEditor .failure {
    color: crimson;
}

#playbookBreadcrumbs.workflow-editor {
	background-color: unset;
	margin-block-end: unset;
	padding-inline-start: unset;
	font-weight: bold;
	font-size: 1.5rem;

	a {
		text-decoration: none;
	}
}

#playbookToolbar {
	background-color: #aecbdc;
	margin-left: 0;
	margin-bottom: 5px;
	border: 1px solid #8b9aa3;
	border-radius: 5px;
}

#playbookToolbar .btn-default {
	background-color: #aecbdc;
	border-color: #aecbdc;
}

#playbookToolbar .btn-default:hover {
	background-color: #eaf2f6;
	border-color: #eaf2f6;
	margin: 0;
	border-radius: 0;
}

#playbookToolbar .btn-group {
	border-right: 1px solid #8b9aa3;
}

#playbookToolbar .btn-group>.btn:first-child {
	margin: 0;
	padding: 10px;
}

#playbookToolbar .btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
	margin-left: 0;
}

#playbookToolbar .form-control.workflowNameInput {
	display: inline-block;
	width: auto;
}

#currentWorkflowText {
	margin-top: 10px;
	font-size: 18px;
}

.consoleRow {
    padding:10px;
}

/* Console Row = 200px */
.workflowEditorMain .graphEditorRow {
	height: calc(100vh - 170px);
	transition: height 0.25s ease-in-out;
	overflow: auto;

	&.show-console {
		height: calc(100vh - 470px);
	}
}

.workflowEditorMain .graphEditorColumn {
	height: 100%;
	overflow: auto;

	&.graphArea {
		overflow: hidden;
	}
}

.workflowEditorMain .graphEditorActionPanel {
	-webkit-box-flex: 0;
    flex: 0 0 20%;
    max-width: 20%;
}

.workflowEditorMain .playbook-heading {
	cursor: pointer;
}

#playbookEditorTabs {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width:100%;
	position: inherit;
	background: transparent;
}

#cy {
	/* display: inline-block; */
	/* vertical-align: top; */
	width: 100%;
	height: 100%;
}

/* Need to do this else panzoom appears above modals */
#cy .cy-panzoom {
	z-index: 10;
}

#cy-instructions {
	padding: 20px;
	font-size: 25px;
}

#cy-json-data {
	background-color: white;
	color: black;
	font-weight: normal;
	height: 630px;
	width: 500px;
	resize: none;
}

.workflowEditorMain #accordion .card-heading .card-title:after {
	/* symbol for "opening" panels */
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	content: "\f078";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	color: grey;         /* adjust as needed */
}

.no-transition {
    transition: none !important;
}

.workflowEditorMain #accordion .card-heading.collapsed .card-title:after {
	/* symbol for "collapsed" panels */
	content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

.workflowEditorMain .card-default > .card-heading {
	background-color: #eaf2f6;
	font-weight: bolder;
}

.workflowEditorMain .parametersEditor input[type=checkbox].form-control {
	width: 34px;
	margin: 0 5px;
}

.workflowEditorMain .parametersEditor .form-group.argument {
	margin-bottom: 5px;
	padding: 5px;
}

.workflowEditorMain .parametersEditor .form-group.argument.odd {
	background-color: #EEE;
}

.workflowEditorMain .parametersEditor .indent {
	border-left: 3px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 5px 0 5px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.workflowEditorMain .parametersEditor .addBar {
	margin-bottom: 10px;
}

.workflowEditorMain .parametersEditor .addBar button {
	margin-top: 25px;
}

.workflowEditorMain .parametersEditor .propertyHeader {
	margin-bottom: 5px;
}

.workflowEditorMain .parametersEditor .required {
	color: crimson;
	margin-left: 5px;
}

.workflowEditorMain .parametersEditor .CodeMirror {
	color: rgb(73, 80, 87);
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
	height: 10rem;
}

.workflowEditorMain .parametersEditor .CodeMirror-empty {
	color: rgba(73, 80, 87, 0.65)
}

.workflowEditorMain .parametersEditor .CodeMirror-focused {
    background-color: #fff;
    border-color: #8bb8df;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(51, 122, 183, 0.25);
}

.workflowEditorMain ngx-datatable datatable-body datatable-body-row datatable-body-cell .datatable-body-cell-label {
	white-space: initial;
}

#workflowsModal .workflowPanel a {
	cursor: pointer;
}

#workflowsModal .card-heading h4 {
	min-height: 30px;
}

#workflowsModal .importContainer {
	margin-bottom: 5px;
}

#workflowsModal .importContainer h5 {
	display: inline-block;
}

#workflowsModal .importPlaybookInput {
	display: inline-block;
}

#workflowsModal > .modal-dialog {
	max-width: 600px;
}

#workflowsModal .modal-title,
#executionResultsModal .modal-title,
#playbookAndWorkflowActionModal .modal-title {
	display: inline-block;
}

#executionResultsModal > .modal-dialog {
	max-width: 95%;
}

.bottom-panel {
	.tab-content {
		max-height: 0px;
		height: 0px;
		overflow-y: auto;
		transition: all 0.25s ease-in-out;
	}


	&.show-console .tab-content {
		max-height: 300px;
		height: 300px;
	}

	.nav-link {
		padding: unset;
		.console-tab {
			padding: 0.5rem 1rem;
		}
	}

	#menu-tab {
		border: unset;
	}
}

.code-block {
	max-height: 8.5rem;
	white-space: pre-wrap;
	overflow-y: hidden;

	&.code-block-sm {
		max-height: 3.5rem;
	}

	&.code-block-xl {
		max-height: 12rem;
	}
}

.cursor-pointer {
	cursor: pointer;
}



body ngb-popover-window.popover {
	max-width: 400px
}