<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('custom_interface.static', interface=g.interface, filename='main.css' ) }}">
        <script src="client/resources/jquery/dist/jquery.min.js"></script>
        <script src="{{ url_for('custom_interface.static', interface=g.interface, filename='main.js' ) }}"></script>

    </head>
    <body>
        <h1>Action Tallies</h1>
        <table id="results">
            <thead>
                <tr>
                    <td>Action Name</td>
                    <td>Count</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <h1>Action Results</h1>
        <table id="actionResults">
            <thead>
                <tr>
                    <td>Action UID</td>
                    <td>Action Name</td>
                    <td>Timestamp</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </body>
</html>

