<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('custom_interface.static', interface=g.interface, filename='main.css' ) }}">
        <script src="client/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="{{ url_for('custom_interface.static', interface=g.interface, filename='main.js' ) }}"></script>

    </head>
    <body>
        <table id="results">
            <thead>
                <tr>Action Name</tr>
                <tr>Count</tr>
            </thead>
        </table>

    </body>
</html>

