#main.customInterface {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#main.customInterface iframe {
	position: absolute;
	border: none;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

#main.interfacesMain {
	padding: 10px 15px;
}

gridster.displayGrid {
	background: none;
}

#grid iframe.kibana {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}