<div id="main" class="manageInterfaceMain">
    <h1>{{ (existingInterface) ? 'Edit' : 'New' }} Interface
        <!-- <input type="text" class="my-auto mr-3" [(ngModel)]="interface.name" name="interfaceName" placeholder="Interface Name" required> -->
        <button *ngIf="existingInterface" class="btn btn-danger btn-lg float-right" (click)="delete()"><i class="fa fa-trash"></i></button>
    </h1>
    <div class="row">
        <div class="col-12">
            <div class="float-left row">
                    <div class="form-group col-12">
                            <label for="inputEmail3" class="col-form-label">Interface Name:</label>
                            <div class="">
                                <input type="text" class="form-control" [(ngModel)]="interface.name" name="interfaceName" placeholder="Interface Name" required>
                            </div>
                        </div>
                        <div class="form-group col-12"> 
                <div ngbDropdown class="d-inline-block mr-1">
                    <button class="btn btn-primary" id="widgetDropdown" ngbDropdownToggle>Add Widget</button>
                    <div ngbDropdownMenu aria-labelledby="widgetDropdown">
                        <button class="dropdown-item" (click)="addWidget('text')">Text</button>
                        <button class="dropdown-item" (click)="addWidget('table')">Table</button>
                        <button class="dropdown-item" (click)="addWidget('bar')">Bar Graph</button>
                        <button class="dropdown-item" (click)="addWidget('line')">Line Graph</button>
                        <button class="dropdown-item" (click)="addWidget('pie')">Pie Chart</button>
                        <button class="dropdown-item" (click)="addWidget('kibana')">Kibana Import</button>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="save()">Save</button>
                </div>
            </div>
            <div id="grid" class="gridster-container" [style.width]="getGridWidth()" [style.height]="getGridHeight()">
                <gridster class="rounded" [options]="options">
                    <gridster-item [item]="item" *ngFor="let item of interface.widgets" class="p-3 rounded">
                        <!-- your content here -->
                        <a class="text-secondary float-left" href="#" (click)="editWidget($event, item)"><i class="fa fa-gear"></i></a>

                        <button type="button" class="close" (click)="removeWidget($event, item)" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        
                        <h5 *ngIf="item.title" class="text-center">{{ item.title }}</h5>

                        <div *ngIf="item.metadata; let metadata">

                            <div *ngIf="item.type == 'bar'">
                                <canvas baseChart [datasets]="metadata.chartData" [labels]="metadata.chartLabels" [options]="item.chartOptions" [legend]="item.showLegend"
                                [chartType]="'bar'">
                                </canvas>
                            </div>

                            <div *ngIf="item.type == 'line'">
                                <canvas baseChart [datasets]="metadata.chartData" [labels]="metadata.chartLabels" [options]="item.chartOptions" [legend]="item.showLegend"
                                [chartType]="'line'">
                                </canvas>
                            </div>

                            <div *ngIf="item.type == 'pie'">
                                <canvas baseChart [data]="metadata.chartData" [labels]="metadata.chartLabels" [chartType]="'pie'" [legend]="item.showLegend">
                                </canvas>
                            </div>

                            <div *ngIf="item.type == 'text'">
                                <p *ngIf="item.text">{{ item.text }}</p>
                            </div>

                            <div *ngIf="item.type == 'table'">
                                <ngx-datatable [style.height.px]="getItemHeight(item)" class="material" [scrollbarV]="true" [columnMode]="'force'" [rows]="metadata.rows" [columns]="metadata.columns"></ngx-datatable>
                            </div>

                            <div *ngIf="item.type == 'kibana'">
                                <iframe class="kibana" [src]="item.options.embedUrl"></iframe>
                            </div>

                        </div>

                    </gridster-item>
                </gridster>
            </div>
        </div>
    </div>
</div>