.manageInterfaceMain {
	padding: 10px 15px;
}

.gridster-container {
    margin: auto;
}

#grid iframe.kibana {
    width: 100%;
    height: 85%;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
}