<div id="main" class="playbookMain">
    <div id="playbookToolbar" class=btn-toolbar role=toolbar>
        <div class="btn-group" role="group">
            <button id="new-button" type=button class="btn btn-default" data-toggle="tooltip" title="New Workflow">
                <span class="fa fa-file-o"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="load-button" type=button class="btn btn-default" data-toggle="modal" data-target="#workflowsModal" title="Load Workflow"
                (click)="loadWorkflow('basicWorkflowTest', 'helloWorldWorkflow')">
                <span class="fa fa-folder-open-o"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="save-button" type=button class="btn btn-default" data-toggle="tooltip" title="Save Workflow" [disabled]="!loadedWorkflow"
                (click)="save()">
                <span class="fa fa-save"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="remove-button" type=button class="btn btn-default" data-toggle="tooltip" title="Delete Selected Nodes" [disabled]="!loadedWorkflow"
                (click)="removeSelectedNodes()">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="undo-button" type=button class="btn btn-default" data-toggle="tooltip" title="Undo" [disabled]="!loadedWorkflow || (ur && ur.isUndoStackEmpty())"
                (click)="ur.undo()">
                <span class="glyphicon glyphicon-repeat" style="transform: scale(-1, 1);"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="redo-button" type=button class="btn btn-default" data-toggle="tooltip" title="Redo" [disabled]="!loadedWorkflow || (ur && ur.isRedoStackEmpty())"
                (click)="ur.redo()">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="cut-button" type=button class="btn btn-default" data-toggle="tooltip" title="Cut" [disabled]="!loadedWorkflow"
                (click)="cut()">
                <span class="fa fa-cut" style="transform: rotate(-90deg);"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="copy-button" type=button class="btn btn-default" data-toggle="tooltip" title="Copy" [disabled]="!loadedWorkflow"
                (click)="copy()">
                <span class="fa fa-copy"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="paste-button" type=button class="btn btn-default" data-toggle="tooltip" title="Paste" [disabled]="!loadedWorkflow"
                (click)="paste()">
                <span class="fa fa-paste"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="execute-button" type=button class="btn btn-default" data-toggle="tooltip" title="Execute Workflow" [disabled]="!loadedWorkflow"
                (click)="executeWorkflow()">
                <i class="fa fa-play-circle"></i>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button id="clear-execution-highlighting-button" type=button class="btn btn-default" data-toggle="tooltip" title="Clear Execution Results Highlighting"
                [disabled]="!loadedWorkflow" (click)="clearExecutionHighlighting()">
                <i class="fa fa-undo"></i>
            </button>
        </div>
        <label id="currentWorkflowText">{{currentPlaybook}} - {{currentWorkflow}}</label>
    </div>

    <div id="top">
        <div id="playbookEditorTabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="cyTab" class="active"><a href="#graphEditor" data-toggle="tab" role="tab">Graphical Editor</a></li>
                <li id="cyJsonTab"><a href="#cyJson" data-toggle="tab" role="tab">JSON</a></li>
            </ul>
            <div class="tab-content">
                <div id="graphEditor" class="tab-pane fade in active">
                    <div class="row graphEditorRow">
                        <div class="col-md-2 graphEditorColumn">
                            <div id="palette">
                                <div id="actionContainer">
                                    <div id="actionsLabel">Actions</div>
                                    <div id="actions"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 graphEditorColumn">
                            <div id="cy" #cy [hidden]="!loadedWorkflow" tabindex="0"></div>
                            <div id="cy-instructions" [hidden]="loadedWorkflow">
                                <p>Instructions:</p>
                                <p>
                                    <button class="btn btn-primary" id="loadInitialWorkflow" data-toggle="modal" data-target="#workflowsModal">Load Workflow</button>
                                </p>
                                <p>
                                    Use this button to load the workflow into the graph. After loading an initial workflow you may use the Load Workflow button
                                    on the toolbar.
                                </p>
                                <p>
                                    <b>Drag and drop</b> items from Actions tab into the graph to create a new workflow step.
                                    <b>Double click</b> also works.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 graphEditorColumn">
                            <div *ngIf="selectedNode && selectedNodeType === 'node'">
                                <div class="form-group">
                                    <label for="name">Name<span class="fa fa-asterisk required" title="This field is required."></span></label>
                                    <input type="text" class="form-control" [(ngModel)]="selectedNode.name" name="name" required tabindex="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="cyJson" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="cy-json-data" [(ngModel)]="cyJsonData"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="executionResultsContainer">
        <div class="col-xs-12">
            <h4>Execution Results</h4>
            <table id="executionResultsTable" class="table table-bordered table-hover"></table>
        </div>
    </div>

    <div class="modal fade" id="playbookAndWorkflowActionModal" tabindex="-1" role="dialog" aria-labelledby="playbookAndWorkflowActionModalTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="playbookAndWorkflowActionModalTitle">{{modalParams.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="modalParams.shouldShowPlaybook" class="form-group">
                        <h6>{{modalParams.shouldShowExistingPlaybooks ? 'Select a Playbook' : 'Enter a Playbook'}}</h6>
                        <select *ngIf="modalParams.shouldShowExistingPlaybooks" name="playbookSelect" id="playbookSelect" [(ngModel)]="modalParams.selectedPlaybook"
                            class="form-control">
                            <option value="0">-- Create new Playbook --</option>
                            <option *ngFor="let i of getPlaybooks()" [value]="i" [label]="i">{{i}}</option>
                        </select>
                        <input type="text" *ngIf="modalParams.selectedPlaybook === 0 || !modalParams.shouldShowExistingPlaybooks" [(ngModel)]="modalParams.newPlaybook"
                            class="form-control" placeholder="Enter a new playbook name">
                    </div>
                    <div *ngIf="modalParams.shouldShowWorkflow" class="form-group">
                        <h6>Enter a Playbook</h6>
                        <input type="text" [(ngModel)]="modalParams.newPlaybook" class="form-control" placeholder="Enter a new workflow name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">{{modalParams.submitText}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="workflowsModal" tabindex="-1" role="dialog" aria-labelledby="workflowModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workflowModalTitle">Select a Workflow</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="workflows"></div>
                </div>
            </div>
        </div>
    </div>
</div>