/* @import '/client/node_modules/jstree/dist/themes/default/style.min.css'; */
@import '/client/node_modules/cytoscape-panzoom/cytoscape.js-panzoom.css';
@import '/client/node_modules/ng2-dnd/bundles/style.css';

.playbookMain h3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
	font-weight: bold;
}

.playbookMain h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #255876;
}

#main.playbookMain {
	padding: 10px 15px;
}

#playbookToolbar .btn-default {
	background-color: #aecbdc;
	border-color: #aecbdc;
}

#playbookToolbar .btn-default:hover {
	background-color: #eaf2f6;
	border-color: #eaf2f6;
	margin: 0;
	border-radius: 0;
}

#playbookToolbar .btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
	margin-left: 0;
}

#playbookToolbar .btn-group>.btn:first-child {
	margin: 0;
	padding: 10px;
}

#playbookToolbar {
	background-color: #aecbdc;
	margin-left: 0;
	margin-bottom: 5px;
	border: 1px solid #8b9aa3;
	border-radius: 5px;
}

#playbookToolbar .btn-group {
	border-right: 1px solid #8b9aa3;
}

#currentWorkflowText {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 18px;
}

.playbookMain .graphEditorRow, .playbookMain .graphEditorColumn {
	height: 80vh;
	overflow: auto;
}

#palette {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

#workflows {
	min-height: 200px;
	max-height: 500px;
	overflow-y:scroll;
	width:100%;
}

#actionContainer {
	width:100%;
	height: 100%;
}

#actionsLabel {
	height:30px;
}

#actions {
	overflow-y:scroll;
	height: 90%;
	width: 100%;
}

#playbookEditorTabs {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width:100%;
	position: inherit;
	background: transparent;
}

#cy {
	/* display: inline-block; */
	/* vertical-align: top; */
	width: 100%;
	height: 100%;
}

#cy-instructions {
	padding: 20px;
	font-size: 25px;
}

#cy-json-data {
	background-color: white;
	color: black;
	font-weight: normal;
	height: 630px;
	width: 500px;
	resize: none;
}

.playbookMain .required {
	color: crimson;
	margin-left: 5px;
}

.playbookMain .panel-default>.panel-heading {
	background-color: #eaf2f6;
	font-weight: bolder;
}

.playbookMain .list-group-item:last-child {
	background-color: #d6e5ed;
}

.playbookMain .list-group-item:first-child {
	background-color: #aecbdc;
}

.playbookMain .no-close .ui-dialog-titlebar-close {
	display: none;
}

.playbookMain #parameters input[type=checkbox].form-control {
	width: 34px;
	margin: 0 5px;
}

.playbookMain ngx-datatable datatable-body datatable-body-row datatable-body-cell div.datatable-body-cell-label {
	white-space: initial;
}

#workflowsModal .workflowPanel a {
	cursor: pointer;
}


#workflowsModal .panel-heading h4 {
	min-height: 30px;
}