<div *ngIf="appNamesWithTransforms.length" class="transforms">
	<div class="row actionAddBar">
		<div class="col-xs-4">
			<label>App</label>
			<select class="form-control" [(ngModel)]="selectedAppName" (change)="resetTransformSelection($event.target.value)">
				<option *ngFor="let i of appNamesWithTransforms" [value]="i" [label]="i">{{i}}</option>
			</select>
		</div>
		<div class="col-xs-4">
			<label>Action</label>
			<select class="form-control" [(ngModel)]="selectedTransformApi">
				<option *ngFor="let i of getTransformNamesForApp()" [value]="i" [label]="i">{{i}}</option>
			</select>
			</div>
		<div class="col-xs-4">
			<div class="form-group">
				<button class="btn btn-primary pull-right" (click)="addTransform()"><span class="fa fa-plus"></span>Add Transform</button>
			</div>
		</div>
	</div>
	<div *ngFor="let transform of transforms; let id = index">
		<div class="row">
			<div class="col-xs-6">
				<label>Transform {{id+1}}: {{transform.app}} - {{transform.action}}</label>
			</div>
			<div class="col-xs-6">
				<div class="pull-right">
					<button *ngIf="id > 0" class="btn btn-primary" (click)="moveUp(id)" title="Move Up"><span class="fa fa-arrow-up"></span></button>
					<button *ngIf="id < transforms.length - 1" class="btn btn-primary" (click)="moveDown(id)" title="Move Down"><span class="fa fa-arrow-down"></span></button>
					<button class="btn btn-danger" (click)="removeTransform(id)" title="Remove Condition"><span class="fa fa-close"></span></button>
				</div>
			</div>
		</div>
		<playbook-argument-component *ngFor="let argument of transform.arguments; let id = index" [loadedWorkflow]="loadedWorkflow"
		 [argument]="argument" [parameterApi]="getTransformApiArgs(transform.app, transform.action, argument.name)" [id]="id"></playbook-argument-component>
	</div>
</div>