<div class="form-group argument {{id % 2 ? 'odd' : 'even'}}">
	<!-- Label for input with optional required icon -->
	<label for="{{argument.name}}">
		Input {{id+1}}: {{argument.name}} ({{argumentApi.type}})
		<span *ngIf="argumentApi.required" class="fa fa-asterisk required" title="This field is required."></span>
	</label>

	<!-- Columns for allowing users to specify outputs of other steps as inputs for this one -->
	<div class="row">
		<div class="col-xs-4">
			<select name="playbookSelect" class="form-control" [(ngModel)]="argument.reference">
				<option value="">-- Set Static Value --</option>
				<option *ngFor="let i of getPreviousSteps()" [value]="i.uid" [label]="i.name">{{i.name}}</option>
			</select>
		</div>
		<div class="col-xs-8">
			<input *ngIf="argument.reference" type="text" class="form-control" [(ngModel)]="argument.selector" name="selector"
			 placeholder="(Optional) Selector for object-based outputs">
			<ng-container *ngIf="!argument.reference">
				<!-- Normal string text entries -->
				<input *ngIf="argumentApi.type === 'string' && !argumentApi.enum" class="form-control" name="{{argument.name}}"
				 [(ngModel)]="argument.value" [attr.minlength]="argumentApi.minLength > 0 ? argumentApi.minLength : null"
				 [attr.maxlength]="argumentApi.maxLength > 0 ? argumentApi.maxLength : null" [attr.pattern]="argumentApi.pattern ? argumentApi.pattern : null"
				 [attr.required]="argumentApi.required" [attr.placeholder]="argumentApi.placeholder">

				<!-- Enum types, make a select box -->
				<select *ngIf="argumentApi.enum" class="form-control" name="{{argument.name}}" [(ngModel)]="argument.value" [attr.required]="argumentApi.required">
					<option *ngIf="!argumentApi.required" value=""></option>
					<option *ngFor="let i of argumentApi.enum" [value]="i" [label]="i">{{i}}</option>
				</select>

				<!-- For numbers enter number info -->
				<input *ngIf="argumentApi.type === 'number' || argumentApi.type === 'integer'" class="form-control" name="{{argument.name}}"
				 [(ngModel)]="argument.value" type="number" [attr.min]="getMin(argumentApi)" [attr.max]="getMax(argumentApi)"
				 [attr.step]="argumentApi.multipleOf > 0 ? argumentApi.multipleOf : null" [attr.required]="argumentApi.required"
				 [attr.placeholder]="argumentApi.placeholder">

				<!-- Checkbox for boolean values -->
				<input *ngIf="argumentApi.type === 'boolean'" type="checkbox" class="form-control" name="{{argument.name}}" [(ngModel)]="argument.value">
			</ng-container>
		</div>
	</div>
</div>