<div id="main" class="schedulerMain">
	<h1>Scheduler</h1>

	<div class="row">
		<div class="col-xs-2">
			<button (click)="addScheduledTask()" class="btn btn-primary"><i class="fa fa-plus"></i>Add To Schedule</button>
		</div>

		<div class="col-xs-4">
			<div id="schedulerStatus">
				<h4>Scheduler Status: <span id="status">{{schedulerStatus}}</span></h4>
			</div>
			<button *ngIf="schedulerStatus && schedulerStatus !== 'running'" (click)="changeSchedulerStatus('start')" class="btn btn-primary"
				id="startSchedulerBtn" title="Start Scheduler">
				<i class="fa fa-play"></i>
			</button>
			<button *ngIf="schedulerStatus && schedulerStatus === 'running'" (click)="changeSchedulerStatus('pause')" class="btn btn-warning"
				id="pauseSchedulerBtn" title="Pause Scheduler">
				<i class="fa fa-pause"></i>
			</button>
			<button *ngIf="schedulerStatus && schedulerStatus === 'running'" (click)="changeSchedulerStatus('stop')" class="btn btn-danger"
				id="stopSchedulerBtn" title="Stop Scheduler">
				<i class="fa fa-stop"></i>
			</button>
		</div>

		<div class="col-xs-6">
			<div class="form-group row">
				<label class="col-xs-2 col-form-label">Search Filter</label>
				<div class="col-xs-10">
					<input class="form-control" [formControl]="filterQuery" />
				</div>
			</div>
		</div>
	</div>

	<ngx-datatable #scheduleTable class='material expandable scheduledTasksTable' [columnMode]="'flex'" [rows]="displayScheduledTasks" [sorts]="[{prop: 'name', dir: 'asc'}]"
	 [headerHeight]="50" [footerHeight]="50" [rowHeight]="undefined" [limit]="25">
		<!-- Column Templates -->
		<ngx-datatable-column name="Name" [flexGrow]="2">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span title="{{row.description}}">{{row.name}}</span>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Workflow(s)" [flexGrow]="3" [sortable]="false">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{getFriendlyWorkflows(row)}}
			</ng-template>
		</ngx-datatable-column>
		<!--<ngx-datatable-column name="Description" [flexGrow]="4">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row.description}}
			</ng-template>
		</ngx-datatable-column>-->
		<ngx-datatable-column name="Status" [flexGrow]="1">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row.status}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Type" [flexGrow]="1">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{row.task_trigger.type}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Rule" [sortable]="false" [flexGrow]="4">
			<ng-template let-row="row" ngx-datatable-cell-template>
				{{getRule(row)}}
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Actions" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="2">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<button *ngIf="row.status === 'stopped' || row.status === 'paused'" (click)="changeScheduledTaskStatus(row, 'start')" title="Start Scheduled Task"
					class="btn btn-primary">
					<i class="fa fa-play"></i>
				</button>
				<!--<button *ngIf="row.status === 'running''" (click)="changeScheduledTaskStatus(row, 'pause')" title="Pause Scheduled Task"
					class="btn btn-warning">
					<i class="fa fa-pause"></i>
				</button>-->
				<button *ngIf="row.status === 'running' || row.status === 'paused'" (click)="changeScheduledTaskStatus(row, 'stop')" title="Stop Scheduled Task"
					class="btn btn-danger">
					<i class="fa fa-stop"></i>
				</button>
				<button (click)="editScheduledTask(row)" class="btn btn-primary" title="Edit Scheduled Task">
					<i class="fa fa-edit"></i>
				</button>
				<button (click)="deleteScheduledTask(row)" class="btn btn-danger" title="Delete Scheduled Task">
					<i class="fa fa-times"></i>
				</button>
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>