/*@import '/client/node_modules/@swimlane/ngx-datatable/release/index.css';
@import '/client/node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '/client/node_modules/@swimlane/ngx-datatable/release/assets/icons.css';*/

#main {
	padding: 10px 30px;
}

/*input[type=text],
input[type=password] {
	width: 300px;
	background-color: #F0F8FF;
}*/

/*select {
	width: 300px;
	background-color: #F0F8FF;
	height: 30px;
}*/


input[type=checkbox].form-control {
	width: 34px;
	margin: 0 5px;
}

input[type=radio].form-control {
	width: 34px;
	margin: 0 5px;
}

#formSubmit {
	margin-left: 20px;
}

#settingsForm,
#userForm,
#addUserForm,
#updateUserForm {
	margin-bottom: 20px;
}

/*input {
	border: none;
}*/

select#username {
	border: none;
}

select#roles {
	border: none;
}

.ngx-datatable .datatable-header {
	margin-left: 10px;
}

.ngx-datatable .datatable-header .datatable-header-cell-label {
	font-weight: bold;
	font-size: 18px;
}

.ngx-datatable .datatable-body {
	margin-left: 10px;
}

.ngx-datatable .datatable-footer {
	margin-left: 10px;
}

.ngx-datatable .datatable-row-odd {
	background-color: #CCC;
}

#roleModalBody .form-group.odd {
	background-color: #EEE;
}

#roleModalBody .required,
#userModalBody .required {
	color: crimson;
	margin-left: 5px;
}