<div id="main">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#systemSettings" data-toggle="tab" role="tab">System Settings</a></li>
        <li><a href="#userSettings" data-toggle="tab" role="tab">User Settings</a></li>
    </ul>
    <div class="tab-content">
        <div id="systemSettings" class="tab-pane fade in active">
            <h1 class="settingsHeader">System Settings</h1>
            <div class="row">
                <form (ngSubmit)="updateConfiguration()" #systemSettingsForm="ngForm">
                    <div class="col-md-4">
                        <h3>Path Configuration</h3>
                        <div class="form-group">
                            <label for="name">Workflows Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.workflows_path" name="workflows_path" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Templates Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.templates_path" name="templates_path" required>
                        </div>
                        <!--<div class="form-group">
                            <label for="name">Profile Visualizations Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.profile_visualizations_path" name="profile_visualizations_path"
                                required>
                        </div>-->
                        <!--<div class="form-group">
                            <label for="name">Keywords Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.keywords_path" name="keywords_path" required>
                        </div>-->
                        <div class="form-group">
                            <label for="name">WALKOFF Database Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.db_path" name="db_path" required>
                        </div>
                        <div class="form-group">
                            <label for="name">WALKOFF Database Type</label>
                            <select class="form-control" [(ngModel)]="configuration.walkoff_db_type" name="walkoff_db_type">
                                <option *ngFor="let i of dbTypes" [value]="i" [label]="i"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Case Database Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.case_db_path" name="case_db_path" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Case Database Type</label>
                            <select class="form-control" [(ngModel)]="configuration.case_db_type" name="case_db_type">
                                <option *ngFor="let i of dbTypes" [value]="i" [label]="i"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Clear Case Database on Startup</label>
                            <input type="checkbox" class="form-control" [(ngModel)]="configuration.clear_case_db_on_startup" name="clear_case_db_on_startup"
                                required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Authorization Configuration</h3>
                        <div class="form-group">
                            <label for="name">Use HTTPS</label>
                            <input type="checkbox" class="form-control" [(ngModel)]="configuration.https" name="https" required>
                        </div>
                        <div class="form-group">
                            <label for="name">TLS Version</label>
                            <select class="form-control" [(ngModel)]="configuration.tls_version" name="tls_version">
                                <option *ngFor="let i of tlsVersions" [value]="i" [label]="i"></option>
                            </select>
                        </div>
                        <!--<div class="form-group">
                            <label for="name">Certificate Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.certificate_path" name="certificate_path" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Private Key Path</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.private_key_path" name="private_key_path" required>
                        </div>-->
                    </div>

                    <div class="col-md-4">
                        <h3>Interface Configuration</h3>
                        <!--<div class="form-group">
                            <label for="name">Debug Mode</label>
                            <input type="checkbox" class="form-control" [(ngModel)]="configuration.debug" name="debug" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Default Server</label>
                            <input type="checkbox" class="form-control" [(ngModel)]="configuration.default_server" name="default_server" required>
                        </div>-->
                        <div class="form-group">
                            <label for="name">Host Address</label>
                            <input type="text" class="form-control" [(ngModel)]="configuration.host" name="host" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Port</label>
                            <input type="number" min="1" max="65535" class="form-control" [(ngModel)]="configuration.port" name="port" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <button (click)="updateConfiguration()" id="formSubmit" class="btn btn-primary">Submit Changes</button>
                <button (click)="resetConfiguration()" id="resetConfiguration" class="btn btn-danger">Reset to Defaults</button>
            </div>
        </div>

        <div id="userSettings" class="tab-pane fade">
            <h1 class="settingsHeader">User Settings</h1>

            <div class="row">
                <div class="col-xs-6">
                    <button (click)="addUser()" class="btn btn-primary"><span class="fa fa-plus"></span>Add User</button>
                </div>
                <div class="col-xs-6">
                    <div class="form-group row">
                        <label class="col-xs-2 col-form-label">Search Filter</label>
                        <div class="col-xs-10">
                            <input class="form-control" [formControl]="filterQuery"/>
                        </div>
                    </div>
                </div>
            </div>

            <ngx-datatable #userTable class='material expandable' [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
                [rows]='displayUsers' [sortType]="'multi'" [sorts]="[{prop: 'username', dir: 'asc'}]" [limit]="10">
                <!-- Column Templates -->
                <ngx-datatable-column name="Username" [flexGrow]="3">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.username}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Roles" [flexGrow]="3">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{getFriendlyRoles(row.roles)}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Active" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{getFriendlyBool(row.active)}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="2">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button (click)="editUser(row)" class="btn btn-primary"><span class="fa fa-edit"></span>Edit User</button>
                        <button (click)="deleteUser(row)" class="btn btn-danger"><span class="fa fa-times"></span>Delete User</button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

            <!--<table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 30%">
                            User Name
                        </th>
                        <th style="width: 40%">
                            Role(s)
                        </th>
                        <th style="width: 10%">
                            Active?
                        </th>
                        <th style="width: 20%">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.username}}</td>
                        <td>{{getFriendlyRoles(user.roles)}}</td>
                        <td>{{getFriendlyBool(user.active)}}</td>
                        <td>
                            <button (click)="editUser(user)" class="btn btn-primary"><span class="fa fa-edit"></span>Edit User</button>
                            <button (click)="deleteUser(user)" class="btn btn-danger"><span class="fa fa-times"></span>Delete User</button>
                        </td>
                    </tr>
                    <tr *ngIf="!users || !users.length">
                        <td colspan="3">No users to display</td>
                    </tr>
                </tbody>
            </table>-->
        </div>
    </div>
</div>