/*@import '/client/node_modules/@swimlane/ngx-datatable/release/index.css';
@import '/client/node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '/client/node_modules/@swimlane/ngx-datatable/release/assets/icons.css';*/

.settingsMain {
	padding: 10px 30px;
}

.settingsMain ngx-datatable datatable-body datatable-body-row datatable-body-cell div.datatable-body-cell-label {
	white-space: initial;
}

#roleModalBody .resourceGroup {
	padding: 5px;
}

#roleModalBody .resourceGroup.odd {
	background-color: #EEE;
}


#roleModalBody .resourceGroup .row {
	padding-bottom: 5px;
}


#roleModalBody .required,
#userModalBody .required {
	color: crimson;
	margin-left: 5px;
}

#userModalBody input[type=checkbox].form-control,
#userModalBody input[type=radio].form-control {
	width: 34px;
	margin: 0 5px;
}