#main {
	padding: 10px 15px;
}

.casesMain h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #255876;
}

.casesMain h3 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.casesMain .box-title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.casesMain input.form-control.input-sm {
	margin-left: 10px;
}

.casesMain ngx-datatable datatable-body datatable-body-row datatable-body-cell div.datatable-body-cell-label {
	white-space: initial;
}